@model LeerPlatform_Team2.TblLokalen

@{
    ViewData["Title"] = "Delete";
}

<h1>Verwijderen lokaal</h1>
<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lokaalnummer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lokaalnummer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Locatie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Locatie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Capaciteit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Capaciteit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Functionaliteiten)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Functionaliteiten.Beschrijving)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Lokaalnummer" />
        <input type="submit" value="Verwijderen" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-outline-info">Terug</a>
    </form>
</div>
